<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xmlns="http://java.sun.com/xml/ns/javaee"
xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">


	<servlet>
		<servlet-name>PageEditor</servlet-name>
		<servlet-class>gradyward.studentunion.PageEditorServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>PageEditor</servlet-name>
		<url-pattern>/edit/*</url-pattern>
	</servlet-mapping>
	
	
	<servlet>
		<servlet-name>LoginCallbackServlet</servlet-name>
		<servlet-class>gradyward.studentunion.LoginCallbackServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>LoginCallbackServlet</servlet-name>
		<url-pattern>/login-callback</url-pattern>
	</servlet-mapping>
	
	
	<servlet>
		<servlet-name>LoginServlet</servlet-name>
		<servlet-class>gradyward.studentunion.LoginServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>LoginServlet</servlet-name>
		<url-pattern>/login</url-pattern>
	</servlet-mapping>
	
	
	<servlet>
		<servlet-name>ManageUsersServlet</servlet-name>
		<servlet-class>gradyward.studentunion.ManageUsersServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ManageUsersServlet</servlet-name>
		<url-pattern>/users</url-pattern>
	</servlet-mapping>
	
	
	<servlet>
		<servlet-name>ConsoleServlet</servlet-name>
		<servlet-class>gradyward.studentunion.servlets.ConsoleServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ConsoleServlet</servlet-name>
		<url-pattern>/console</url-pattern>
	</servlet-mapping>
	
	
	<servlet>
		<servlet-name>SelfManagerServlet</servlet-name>
		<servlet-class>gradyward.studentunion.servlets.SelfManagerServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SelfManagerServlet</servlet-name>
		<url-pattern>/self-manager</url-pattern>
	</servlet-mapping>
	
	
	
	<filter>
	    <filter-name>ObjectifyFilter</filter-name>
	    <filter-class>com.googlecode.objectify.ObjectifyFilter</filter-class>
	</filter>
	<filter-mapping>
	    <filter-name>ObjectifyFilter</filter-name>
	    <url-pattern>/*</url-pattern>
	</filter-mapping>
	
</web-app>
